<!DOCTYPE html> <!-- HTML であることを示す -->
<html lang="ja"> <!-- 日本語を選択 -->
  <head> <!-- ヘッダ部分の開始: ヘッダには本文が始まる前の設定を書く-->
    <meta charset="UTF-8" /> <!-- 文字コードとして、UTF-8 を指定 -->
    <title>Admin Page</title> <!-- ページタイトル -->
  </head>
  <body> <!-- ここから本文 -->
    <h1>管理者ページ</h1>
    <p>{{ current_user.username }}でログイン中</p>
    <a href="/admin/logout" role="button">ログアウト</a>
    <ul>
      <li> <a href="/"> トップに戻る</a></li>
      <li> 最後のGPS観測データ(自動更新なし)
	<table border="1">
	<tr><th>バスID</th><th>北緯</th><th>東経</th></tr>
	{% for location in locations.values() %}
	<tr><td>{{ location.bus }}</td>
	  <td>{{ location.latitude }}</td>
	<td>{{ location.longitude }}</td></tr>
	{% endfor %}
	</table>
      </li>
      <li> 利用者のアクセスログ
	<table border="1">
	  <tr><th>利用者ID</th><th>アクセス時刻</th></tr>
	  {% for log in logs %}
	  <tr><td>{{ log.userId }}</td>
	    <td>{{ log.time.strftime("%Y/%m/%d %H:%M:%S") }}</td></tr>
	  {% endfor %}
	</table>
      </li>
      <li> 投票ログ
        <table border="1">
          <tr><th>利用者ID</th><th>投票時刻</th><th>混雑度</th></tr>
          {% for vote in votes %}
          <tr><td>{{ vote.userId }}</td>
            <td>{{ vote.time.strftime("%Y/%m/%d %H:%M:%S") }}</td>
            <td>{{ vote.congestion }}</td></tr>
          {% endfor %}
        </table>
            </li>
      <li><a href="/admin/outputUsers?export_type=excel"> ユーザー情報ダウンロード(Excel) </a></li>
      <li><a href="/admin/outputLogs?export_type=excel"> アクセスログダウンロード(Excel) </a></li>
      <li><a href="/admin/outputVotes?export_type=excel"> 投票ダウンロード(Excel) </a></li>
      <li><a href="/admin/outputGpsLogs?export_type=excel"> GPSログダウンロード(Excel) </a></li>
	    <li><a href="deleteAll"> 全DB初期化 </a></li>
    </ul>
    </body>
</html> 
